<form action="/" method="post">
  <label>Name: </label> <input type="text" name="name"/><br/>
  <label>Breed: </label> <input type="text" name="breed"/><br/>
  <label>Age: </label> <input type="text" name="age"/><br/>
  <input type="submit" value="submit"/>
</form>
