<form class="" action="/" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="breed" placeholder="breed">
  <input type="text" name="age" placeholder="age">
  <input type="submit" name="submit" id="submit">
</form>
