<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to the Mr. Meow's Puppy Mill!!</title>
  </head>
  <body>
    <p><h2>Let's Register A Puppy!!</h2></p>
    <form action="/" method="POST">
      <p><label for ="name">Name: </label>
        <input type="text" name="name" id="name"/></p>
      <p><label for ="breed">Breed: </label>
        <input type="text" name="breed" id="breed"/></p>
      <p><label for ="age">Age: </label>
        <input type="number" name="age" id="age"/></p>
      <p><input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
