<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Puppy Adoption Site - Add Puppy</title>
  </head>
  <body>
    <form class="" action="/" method="post">
      <label for="">Puppy Name</label>
      <input type="text" name="name" value="">
      <br>
      <label for="">Puppy Breed</label>
      <input type="text" name="breed" value="">
      <br>
      <label for="">Puppy Age</label>
      <input type="text" name="age" value="">
      <br>
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
