<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>display</title>
  </head>
  <body>
    <h1>Puppy</h1>

    <p>Puppy Name: <%= @name %></p>
    <p>Puppy Breed: <%= @breed %></p>
    <p>Puppy Age: <%= @age %> </p>

  </body>
</html>
