<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Puppy Adoption Site - Display New Puppy</title>
  </head>
  <body>
    <h1>Welecome New Puppy</h1>
    <p><strong>Puppy Name:</strong></p>
    <p><%=@pup.name%></p>
    <p><strong>Puppy Breed: </strong></p>
    <p><%=@pup.breed%></p>
    <p><strong>Puppy Age: </strong></p>
    <p><%=@pup.age%></p>
  </body>
</html>
