<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to the Mr. Meow's Puppy Mill!!</title>
  </head>
  <body>
    <h1>Welcome to the Mr. Meow's Puppy Mill!!</h1>
    <p><h3>Here Are the Available Puppies:</h3></p>
      <p>Puppy Name: <%=@puppy.name%></p>
      <p>Puppy Breed: <%=@puppy.breed%></p>
      <p>Puppy Age: <%=@puppy.age%></p>

    <p><h3><a href="/new">Click Here To List A Puppy</a></h3><p>
  </body>
</html>
