
<div class="container">
  <br>
  <img src="https://images.pexels.com/photos/5777/dog-pet-cute-sweet.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width=500px alt="">
  <br>
  <p>Puppy Name: <%= @name %></p>
  <p>Puppy Breed: <%= @breed %>  </p>
  <p>Puppy Age: <%= @age %> </p>
</div>
