<div class="container">
  <br>
  <div class="jumbotron">
  <h1>Welcome</h1>
  <p>This is my first FlatIron Site from A Lab</p>
  <p><a class="btn btn-primary btn-lg" href="/new"role="button">Click Here To List A Puppy</a></p>
</div>


  <div class="row">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="https://images.pexels.com/photos/460823/pexels-photo-460823.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"alt="..." width=200px>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="https://images.pexels.com/photos/97863/pexels-photo-97863.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"alt="..." width=200px>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="https://images.pexels.com/photos/130766/pexels-photo-130766.jpeg?auto=compress&cs=tinysrgb&h=350"alt="..." width=200px >
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="https://images.pexels.com/photos/130770/pexels-photo-130770.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"alt="..." width=200px>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="https://images.pexels.com/photos/39388/chihuahua-dog-puppy-cute-39388.jpeg?auto=compress&cs=tinysrgb&h=350"alt="..." width=200px>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="https://images.pexels.com/photos/208109/pexels-photo-208109.jpeg?auto=compress&cs=tinysrgb&h=350"alt="..." width=200px>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="https://images.pexels.com/photos/208834/pexels-photo-208834.jpeg?auto=compress&cs=tinysrgb&h=350"alt="..." width=200px padding=10px>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="https://images.pexels.com/photos/976923/pexels-photo-976923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"alt="..." width=200px padding=10px>
      </a>
    </div>

    ...
  </div>

  </div>
